<header class="jumbotron">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-md-8">
                <h1>This First Heading <span class="text-muted">Will Catch Your Eye</span></h1>
                <p class="text-left">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="col-md-4">
                <img src="https://www.lifewire.com/thmb/yrj047KsBf6-GI0iFHAKyo_ZEOE=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Physicalkeyboard_TarikKizilkaya_GettyImages-160948868-6eb87698bb2f4ece9bfca400ddbca30f.jpg" alt="Circular Image" class="rounded-circle" style="width: 350px; height: 350; margin-right: -15px; padding-top: 10px; padding-bottom: 10px;"> <!-- Added padding-top and padding-bottom -->
            </div>
        </div>
    </div>
</header>
