<header class="jumbotron" style="margin-top:20px;">
    <div class="container padding-bottom:100px">
        <div class="row align-items-center border-top border-bottom pt-5 pb-5">
            <div class="col-md-4 text-right">
                <img src="https://i.natgeofe.com/n/2a832501-483e-422f-985c-0e93757b7d84/6_4x3.jpg?w=1436&h=1078" alt="Circular Image" class="rounded-circle" style="width: 300px; height: 300px; margin-right: -15px; padding-top: 10px; padding-bottom: 10px;">
            </div>
            <div class="col-md-8">
                <h1> The Second Heading <span class=text-muted> Is Pretty Cool Too</span></h1>
                <p class="text-left">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, aconsectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
</header>