<!-- your html code here -->
<!-- Mariano Marcos -->
<nav class="navbar navbar-expand bg-body-tertiary" style="background-color: rgba(23, 23, 27, 0.833); margin: 0px 0 0px 0; padding: none;">
    <div class="container-fluid" >
      <a class="navbar-brand" style="text-decoration: none; color: rgb(146, 144, 144); font-size: larger; font-weight: 600;" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"  id="navbarNavDropdown">
        <ul class="navbar-nav" >
          <li class="nav-item">
            <a class="nav-link active" style="text-decoration: none; color: rgb(146, 144, 144); font-size: medium;  font-weight: 600;"  aria-current="page" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="text-decoration: none; color: rgb(146, 144, 144); font-size: medium;  font-weight: 600;"  href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="text-decoration: none; color: rgb(146, 144, 144); font-size: medium;  font-weight: 600;"  href="#">Portfolio</a>
          </li>
          <li>
            <a class="nav-link" style="text-decoration: none; color: rgb(146, 144, 144); font-size: medium;  font-weight: 600;"  href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>