<!-- your html code here -->
<div class="container border-bottom pb-5" style="margin-top: 25px; padding-top: 30px;">
    <!-- border-top: 1px solid; border-color: rgba(173, 173, 173, 0.9); -->
    <div class="col">
        <h1>Portfolio</h1>
        <p style="text-align: justify;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <div class="row">
            <div class="col-md-4 col-xs-10">
                <div>
                    <img src="/website/assets/img/big-project-image.png" class="portfolio-image img-fluid">
                </div>
                <h4 class="pt-2 font-weight-bold" style="color: rgba(39, 135, 199, 0.888);">
                    Project Name
                </h4>
                <p class="pt-1" style="text-align: justify; font-size: smaller">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="col-md-4 col-xs-10">
                <div>
                    <img src="/website/assets/img/big-project-image.png" class="portfolio-image img-fluid">
                </div>
                <h4 class="pt-2 font-weight-bold" style="color: rgba(39, 135, 199, 0.888);">
                    Project Name
                </h4>
                <p class="pt-1" style="text-align: justify; font-size: smaller">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="col-md-4 col-xs-10">
                <div>
                    <img src="/website/assets/img/big-project-image.png" class="portfolio-image img-fluid">
                </div>
                <h4 class="pt-2 font-weight-bold" style="color: rgba(39, 135, 199, 0.888);">
                    Project Name
                </h4>
                <p class="pt-1" style="text-align: justify; font-size: smaller">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>

